body{
    text-align: center !important; 
}
.main
{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
h1{
    font-size: 200em;
    font-family: monospace;
    display: inline-block;
    width: 60px;
    height: 70px;
    text-align: center;
}
